<div class="container">
<div class="card text-center postCard">
  <h2 class="postTitle">{{title}}</h2>
  <div class="postBox">
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
</div>
</div>
{{#if logged_in}}

<form class="container flex-wrap d-flex justify-content-center" id="newComment" data-postid={{id}}>
  <div class="p-2">
    <textarea id="postComment" name="comment-section" placeholder="Add Comment..." rows="3">
    </textarea>
  </div>
    <div>
    <button class="btn btn-secondary">Add a Comment</button>
  </div>
</form>

{{#/if}}

<div class="container">
<h2 class="text-center">Comments</h2>
{{#each comments as |comment|}}
<div class="commentBox">
  <p class="commentStuff">{{comment.comment_description}}</p>
  <p class="commentUser">Created By: {{comment.user.name on {{format_date date_created}}</p>
</div>
</div>
{{/each}}

<script src="/public/js/comment.js"></script>